{%load staticfiles%}
<!doctype html>
<html lang="en">
    
    <head>
        <title>Bcoin | Bitcoin Crypto Currency HTML Template</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "css/import.min.css" %}">
    </head>
    
    <body class="animate-in">
        
        <header>
          	<!--
          		Top bar
          	-->
           	<div class="top-bar bg-third-color py-sm-20px py-xs-20px">
           		<div class="container">
           			<div class="d-flex flex-column flex-md-row align-items-center">
           				<!--
           					Select currency
           				-->
           				<div class="d-flex">
           					<div class="select-currency fs-0_9">
           						<select class="form-control fs-0_9" id="exampleFormControlSelect2">
								  <option>BTC / USD</option>
								  <option>XRP / USD</option>
								  <option>LTE / USD</option>
								</select>
           					</div>
           				</div>
           				<!--
           					Currency selected
           				-->
           				<div class="d-flex select-selection fs-0_9 ml-5px mr-auto">
							<span class="text-white pr-5px">USD</span><span class="text-first-color">1.94200</span>
						</div>
         				<!--
           					Right links
           				-->
          				<ul class="d-none d-sm-flex list-unstyle list-inline m-0 p-0">
          					<li class="list-inline-item"><a class="text-color fs-0_9 mr-15px" href="#">Account</a></li>
          					<li class="list-inline-item"><a class="text-color fs-0_9 mr-15px" href="#">Buy/Sell</a></li>
          					<li class="list-inline-item"><a class="text-color fs-0_9 mr-15px" href="#">Deposit</a></li>
          					<li class="list-inline-item"><a class="text-color fs-0_9" href="#">Withdrawal</a></li>
          				</ul>
           			</div>
           		</div>
           	</div>
           	<!--end#top-bar-->
            <div class="container">
            	<!--
            		Main nav
            	-->
            	<nav class="navbar align-items-center navbar-expand-lg">
					<a class="navbar-brand d-inline-flex logo" href="#"> 
						<img src="{% static "img/logo.png" %}" alt=""> 
					</a>
					<!-- Responsive button -->
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav justify-content-end">
							<!--========== Home ================-->
							<li class="nav-item">
							  <a class="nav-link " href="{%url 'index'%}">Início</a>
							</li>
					
							<!--========== Pages ================-->
							<li class="nav-item">
							  <a class="nav-link " href="{%url 'registrar'%}">Comprar</a>
							</li>
							<!--========== Blog ================-->
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="blogDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Termos e Políticas</a>
								<div class="dropdown-menu" aria-labelledby="blogDrop">
								   <div class="col-lg-12">
										<ul class="list-unstyled m-0">
											<li><a href="{%url 'termos_e_condicoes'%}" class="dropdown-item">Termos e Condições</a></li>
											<li><a href="{%url 'politica_de_privacidade'%}" class="dropdown-item">Política de Privacidade</a></li>
											<li><a href="{%url 'politica_de_reembolso'%}" class="dropdown-item">Política de Reembolso</a></li>
									   </ul>
								   </div>
								</div>
							</li>
							<li class="nav-item">
							  <a class="nav-link " href="{%url 'contato'%}">Contato</a>
							</li>
							<!--========== Elements ===============-->
<!-- 							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="elementDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elements</a>
								<div class="dropdown-menu" aria-labelledby="elementDrop">
									<div class="col-lg-12">
										<ul class="list-unstyled m-0">
											<li><a href="typography.html" class="dropdown-item">Typography</a></li>
											<li><a href="buttons.html" class="dropdown-item">Buttons</a></li>
											<li><a href="icon-box.html" class="dropdown-item">Icon box</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div> -->
						


					<!-- Account -->
					<!-- <div class="dropdown account-bar"> <i role="main" class="fa fa-user-circle dropdown-toggle" id="DropAccountForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="sr-only">Account</span> </i>
						<div class="dropdown-menu dropdown-menu-right p-30px" aria-labelledby="DropAccountForm">
						   <div class="row">
						   		<div class="col-lg-12"><h6><i class="fa fa-user-o mr-15px"></i>Login Now or Create a New Account</h6></div>
								<div class="col-lg-6">
									<form>
										<input class="form-control rd-5 mb-15px" type="email" placeholder="Email address"> 
										<input class="form-control rd-5 mb-15px" type="password" placeholder="Password"> 
										<button class="btn btn-fill-color text-white btn-block">Login</button>
									</form>
									<div class="mt-15px fs-0_9 fw-400">
										<a href="#">Forget password</a> or 
								    	<a href="register.html">Create a new account</a>
									</div>
								</div>
								<div class="col-lg-6">
								   <a href="#" class="d-block bg-facebook text-white py-10px px-15px rd-5 mb-15px"><i class="fa fa-facebook mr-10px d-inline-flex w-30px"></i>Sign in with Facebook</a>
								   <a href="#" class="d-block bg-twitter text-white py-10px px-15px rd-5 mb-15px"><i class="fa fa-twitter mr-10px d-inline-flex w-30px"></i>Sign in with Twitter</a>
								   <a href="#" class="d-block bg-googleplus text-white py-10px px-15px rd-5"><i class="fa fa-google-plus mr-10px d-inline-flex w-30px"></i>Sign in with Google +</a>
								</div>
						   </div>
						</div>
					</div> -->
					
				
					
				</nav>
            </div>
        </header>
        {%block body%}

        {%endblock%}
        <footer class="pt-80px pb-30px bg-third-color">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 mr-auto mb-md-40px mb-sm-40px mb-xs-40px">
						<img src="{% static "img/logo-footer.png" %}" alt="" class="mb-40px">
						<ul class="list-unstyled p-0 m-0">
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-map-marker mr-20px"></i>
								Sit amet, consectetur Mauris posuere a ipsum in bibendum.
							</li>
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-at mr-20px"></i>
								info@goldentemp.com
							</li>
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-mobile fs-1_6 mr-20px"></i>
								+012 345 6789
							</li>
						</ul>
					</div>
					<div class="col-lg-2 mb-md-40px mb-sm-40px mb-xs-40px">
						<h4 class="text-white mb-40px fw-500">Information</h4>
						<ul class="list-unstyled p-0 m-0">
							<li><a href="#" class="text-color mb-20px d-block">Home</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Copyrights</a></li>
							<li><a href="#" class="text-color mb-20px d-block">About</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Services</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Exchange</a></li>
						</ul>
					</div>
					<div class="col-lg-2 mb-md-40px mb-sm-40px mb-xs-40px">
						<h4 class="text-white mb-40px fw-500">Products</h4>
						<ul class="list-unstyled p-0 m-0">
							<li><a href="#" class="text-color mb-20px d-block">Bitcoin</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Ethereum</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Ripple</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Services</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Buy / Sell</a></li>
						</ul>
					</div>
					<div class="col-lg-2 mb-md-40px mb-sm-40px mb-xs-40px">
						<h4 class="text-white mb-40px fw-500">Contact</h4>
						<ul class="list-unstyled p-0 m-0">
							<li><a href="#" class="text-color mb-20px d-block">Contact us</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Our location</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Main office</a></li>
							<li><a href="#" class="text-color mb-20px d-block">Our maps</a></li>
						</ul>
					</div>
				</div>
           		<div class="row">
           			<div class="col-lg-12 mt-30px pt-30px brd-thin-solid brd-gray-900 border-right-0 border-left-0 border-bottom-0">
           				<div class="row">
           					<div class="col-lg-4 mb-md-40px mb-sm-40px mb-xs-40px">
           						<span class="fs-0_9">All Rights Reserved 2018 @ Goldentemp</span>
           					</div>
           					<div class="col-lg-4 text-lg-center text-md-left text-sm-left text-xs-left mb-md-40px mb-sm-40px mb-xs-40px">
           						<ul class="list-unstyled list-inline m-0 p-0">
           							<li class="list-inline-item">
           								<img src="{% static "img/icon/if_visa.png" %}" alt="">
           							</li>
           							<li class="list-inline-item">
           								<img src="{% static "img/icon/if_paypal.png" %}" alt="">
           							</li>
           							<li class="list-inline-item">
           								<img src="{% static "img/icon/if_mastercard.png" %}" alt="">
           							</li>
           							<li class="list-inline-item">
           								<img src="{% static "img/icon/if_discover.png" %}" alt="">
           							</li>
           						</ul>
           					</div>
           					<div class="col-lg-4 text-lg-right text-md-left text-sm-left text-xs-left mb-md-40px mb-sm-40px mb-xs-40px">
           						<ul class="list-unstyled list-inline m-0 p-0">
           							<li class="list-inline-item">
           								<a href="#" class="w-30px h-30px mx-5px d-flex align-items-center justify-content-center bg-facebook rd-100"><i class="fa fa-facebook d-flex text-white fs-0_9"></i></a>
           							</li>
           							<li class="list-inline-item">
           								<a href="#" class="w-30px h-30px mx-5px d-flex align-items-center justify-content-center bg-twitter rd-100"><i class="fa fa-twitter d-flex text-white fs-0_9"></i></a>
           							</li>
           							<li class="list-inline-item">
           								<a href="#" class="w-30px h-30px mx-5px d-flex align-items-center justify-content-center bg-googleplus rd-100"><i class="fa fa-google-plus d-flex text-white fs-0_9"></i></a>
           							</li>
           						</ul>
           					</div>
           				</div>
           			</div>
           		</div>
            </div>
        </footer>
		
<!--Go to top-->
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
        
        <!-- Jquery | Popper | Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="{% static "node_modules/popper.js/dist/umd/popper.min.js" %}"></script>
        <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <!-- Jquery easing -->
		<script src="{% static "node_modules/startbootstrap-scrolling-nav/vendor/jquery-easing/jquery.easing.min.js" %}"></script>
        <!-- Owl slider -->
        <script src="{% static "node_modules/owl.carousel/dist/owl.carousel.min.js" %}"></script>
		<script src="{% static "js/plugins/owl.carousel.autoplay/owl.autoplay.min.js" %}"></script>
		<!-- Counters -->
		<script src="{% static "js/plugins/countimator/js/countimator.min.js" %}"></script>
		<!-- Multibackground -->
		<script src="{% static "js/plugins/multibackground/multibackground.min.js" %}"></script>
		<!-- Charts js -->
		<script src="{% static "node_modules/chart.js/dist/Chart.bundle.min.js" %}"></script>
		<!-- Plyr -->
		<script src="{% static "node_modules/plyr/dist/plyr.js" %}"></script>
		<!-- Scrolling nav -->
		<script src="{% static "node_modules/startbootstrap-scrolling-nav/js/scrolling-nav.js" %}"></script>
		<!-- Retinajs -->
		<script src="{% static "node_modules/retinajs/dist/retina.min.js" %}"></script>
		<!-- Custom js options -->
		<script src="{% static "js/minified/custom.min.js" %}"></script>


	</body>
</html>
