{%extends "base.html"%}
{%block body%}
{%load staticfiles%}

<section id="page-title" class="py-30px bg-second-color">
    <div class="container">
        <div class="d-flex page-title justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
			<h1 class="d-flex mb-0 fs-2 text-white fw-500">Política de Privacidade</h1>
			<nav class="d-flex mb-0" aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Política de Privacidade</li>
				</ol>
			</nav>
		</div>
      </div>
</section>


<div class="container">
        	
			<!--
			=========================
			Post details
			=========================
			-->
			<section class="mt-80px mb-80px">
				
<!-- 				<div class="post-data py-4">
					<h2>Termos e Condições</h2>
				</div> -->

				<p>
					 Caro Usuário,
				</p>

				<p>
					 Nosso compromisso maior é proteger e respeitar a sua privacidade.
				</p>

				

				<p>
					O BVoucher poderá alterar esta Política de Privacidade a qualquer tempo, sempre com o objetivo de aprimorá-la.
				</p>
	
				<h3 class="mt-50px text-muted" >Coleta e utilização dos dados</h3>	

				<p>O BVoucher poderá coletar suas informações pessoais se você utilizar o nosso Site, abrir uma conta, preencher nosso Cadastro e executar quaisquer transações em nosso Site.</p>	

				<p>Nós utilizaremos suas informações pessoais para permitir que você realize transações através de nossa plataforma e para entrar em contato com você caso seja necessário respondermos às suas dúvidas.</p>

				<p>Suas informações pessoais serão utilizadas apenas para os propósitos para os quais elas nos houverem sido fornecidas.</p>

				<p>O BVoucher utiliza modernas medidas de segurança com intuito de garantir a proteção de seus dados pessoais contra qualquer acesso não autorizado.</p>
				
				<p>Apenas colaboradores autorizados do BVoucher podem ter acesso às suas informações pessoais, estando obrigatoriamente sujeitos a deveres de confidencialidade e a rigoroso respeito à sua privacidade.</p>		

				

				
			</section>
		</div>

{%endblock%}