{%extends "base.html"%}
{%block body%}
{%load staticfiles%}

<section id="page-title" class="py-30px bg-second-color">
    <div class="container">
        <div class="d-flex page-title justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
			<h1 class="d-flex mb-0 fs-2 text-white fw-500">Política de Reembolso</h1>
			<nav class="d-flex mb-0" aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Política de Reembolso</li>
				</ol>
			</nav>
		</div>
      </div>
</section>


<div class="container">
        	
			<!--
			=========================
			Post details
			=========================
			-->
			<section class="mt-80px mb-80px">
				
<!-- 				<div class="post-data py-4">
					<h2>Termos e Condições</h2>
				</div> -->

				<p>
					 Devido à natureza do negócio, não é possível realizar qualquer tipo de reembolso.
				</p>

				<p>
					 A razão para esta política, é que uma vez que o voucher foi comprado, você está recebendo um bem intangível combinado com um serviço.
				</p>

				

				<p>
					O dinheiro será depositado na sua carteira ou na carteira de bitcoin que você tenha solicitado. Desta forma, uma vez que o processo tenha sido iniciado, não pode ser interrompido ou revertido.
				</p>
				<p>
					Ao comprar um voucher do nosso site, significa que você compreender e aceita todas as nossas políticas. a deveres de confidencialidade e a rigoroso respeito à sua privacidade.
				</p>


				
			</section>
		</div>

{%endblock%}