{%extends "base.html"%}
{%block body%}
{%load staticfiles%}

<section id="page-title" class="py-30px bg-second-color">
    <div class="container">
        <div class="d-flex page-title justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
			<h1 class="d-flex mb-0 fs-2 text-white fw-500">Termos e Condições</h1>
			<nav class="d-flex mb-0" aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Termos e Condições</li>
				</ol>
			</nav>
		</div>
      </div>
</section>


<div class="container">
        	
			<!--
			=========================
			Post details
			=========================
			-->
			<section class="mt-80px mb-80px">
				
<!-- 				<div class="post-data py-4">
					<h2>Termos e Condições</h2>
				</div> -->

				<p>
					 Bem vindo ao nosso site.
				</p>

				<p>
					 Se você continuar a navegar e usar este site, você está concordando com nossos termos e condições de uso, que, juntamente com a nossa política de privacidade regem o relacionamento entre www.bvoucher.com.br e você. Se você não concordar com qualquer parte destes termos e condições, por favor, não utilize o nosso site.
				</p>

				

				<p>
					O uso desta web site está sujeito aos seguintes termos de uso:
				</p>

				<ul class="my-3">
					<li style="list-style-type: none;">O conteúdo das páginas deste site é para sua informação geral e seu uso. Ele está sujeito a alterações sem aviso prévio.</li>
					<li style="margin-top: 20px; list-style-type: none;">Nem nós, nem quaisquer terceiros fornece qualquer garantia quanto à precisão, pontualidade, desempenho, integralidade ou adequação das informações e materiais encontrados ou oferecidos neste website para qualquer finalidade particular. Você reconhece que tais informações e materiais podem conter imprecisões ou erros e que expressamente exclui a responsabilidade por eventuais imprecisões ou erros.</li>
					<li style="margin-top: 20px; list-style-type: none;">O uso de qualquer informação ou material neste site é inteiramente por sua conta e risco, para o qual não deve ser responsabilizado. Será sua responsabilidade assegurar que quaisquer produtos, serviços ou informações disponíveis através deste website atenda às suas necessidades específicas.</li>
					<li style="margin-top: 20px; list-style-type: none;">Este site contém material que é de propriedade ou licenciado para nós. A reprodução é proibida, exceto em conformidade com o aviso de copyright, que faz parte destes termos e condições.</li>
					<li style="margin-top: 20px; list-style-type: none;">O uso não autorizado deste site pode dar origem a um pedido de indenização e / ou ser uma ofensa criminal.</li>
					<li style="margin-top: 20px; list-style-type: none;">Dedicamos-nos exclusivamente à venda de Vouchers de Bitcoins, não tendo qualquer responsabilidade sobre o uso ou destino destes vouchers.</li>
					<li style="margin-top: 20px; list-style-type: none;">A transação será feita com base na cotação do Bitcoin do dia em que for efetuada a compra do voucher.</li>
					<li style="margin-top: 20px; list-style-type: none;">A nossa taxa de serviço é de 15% por transação, sem tarifa fixa.</li>
				</ul>

				
			</section>
		</div>

{%endblock%}