{%extends "base_usuario.html"%}
{%block body%}
<section id="page-title" class="py-30px bg-second-color">
    <div class="container">
        <div class="d-flex page-title justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
			<h1 class="d-flex mb-0 fs-2 text-white fw-500">Sucesso</h1>
			<nav class="d-flex mb-0" aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href="{%url 'index'%}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Política de Privacidade</li>
				</ol>
			</nav>
		</div>
      </div>
</section>


<div class="container">
        	
			<!--
			=========================
			Post details
			=========================
			-->
			<section class="mt-80px mb-80px">
				
<!-- 				<div class="post-data py-4">
					<h2>Termos e Condições</h2>
				</div> -->

	
				<h3 class="mt-50px text-muted" >Sua compra foi efetuada com sucesso, aguarde os bitcoins.</h3>	

		

				

				
			</section>
		</div>

{%endblock%}